body{
    /* width: 100vw; */
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif, Arial, Helvetica;
}
.content{
    padding: 10px 20px;
}
.projects{
    display:flex;
    flex-wrap: wrap;
}

.card{
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 215px 215px 80px;
    grid-template-areas: "image" "text" ;
    font-family: roboto;
    border-radius: 18px;
    box-shadow: 5px 5px 15px grey;
    text-align: center;
    margin-right: 500px;
}

.card-image{
    grid-area: image;
    background: url("img.jpg") no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-text{
    grid-area: text;
    margin-top: 250px;
    
    
}
.card-text h3{
    text-align: left;
    margin: 20px;
}

.card-text h4{
    color: blue;
    text-align: left;
    margin-left: 20px
}

.card-text p{
    color: black;
    font-size: 15px;
    font-weight: 300px;
    text-align: left;
    margin-left: 20px;
    

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header .nav {
   display: flex;
}

.header .nav a{
    padding: 4px 10px;
    font-size: 14px;

}

